mixin grades(reporevs)
  - var users = Math.max.apply(null, reporevs.map(function(r) { return r.users.length; }))
  - var spacer = new Array(Math.max(users, 0))
  div.grades
    table.table.table-striped.table-condensed.grades
      thead
        tr
          th
          th
          each _ in spacer
            th Username
          th Revision
          th(colspan=2) Grade
      tbody
        each reporev in reporevs
          tr(class="#{reporev.grade ? '' : 'info'}")
            td= reporev.kind
            td= reporev.proj
            each _, idx in spacer
              td= reporev.users[idx]
            td: tt: a(href="/#{reporev.kind}/#{reporev.proj}/#{reporev.users.join('-')}/#{reporev.rev}")= reporev.rev
            if reporev.grade
              td: .text-right= reporev.grade.score
              td.muted /&nbsp;#{reporev.grade.outof}
              each suite in reporev.grade.ungraded || []
                td.splitter
                each test in suite.testcases
                  if test.passed
                    td &#x2713;
                  else
                    td X
              each suite in reporev.grade.testsuites
                td.splitter
                each test in suite.testcases
                  if test.grade
                    td= test.grade.score
            else
              td: .text-right -
              td.muted / -
