extends layout-fullpage

append head
  title Graded Milestone #{kind}/#{proj} #{name} - Didit

block primary
  div.page-header
    h1 Graded&nbsp;
      a(href=`/milestone/${kind}/${proj}/${name}`) Milestone&nbsp;
        tt #{kind}/#{proj}
        |  #{name}
  
  if rejects.length > 0
    div.alert.alert-danger
      h2 #{rejects.length} Error#{rejects.length == 1 ? '' : 's'}
      ul
        each reject in rejects
          li
            tt #{reject.users.join('-')}
            if reject.rev
              |  rev&nbsp;
              tt #{reject.rev}
  
  h2 #{accepts.length} Grade#{accepts.length == 1 ? '' : 's'} Assigned
  ul
    each accept in accepts
      li: a(href=`/${kind}/${proj}/${accept.users.join('-')}/${accept.rev}`)
        tt #{accept.users.join('-')}
        |  rev&nbsp;
        tt #{accept.rev}
