doctype
html
  head
    block head
      link(rel='stylesheet', href='/static/bootstrap/css/bootstrap.min.css')
      link(rel='stylesheet', href='/static/style.css')
  body
    div.navbar.navbar-fixed-top
      div.navbar-inner
        div.container-fluid
          ul.nav
            li: a(href='/') The Classroom Continuous Build Butler - Didit
          p.navbar-text.pull-right
            if locals.authstaff
              button#stafftoggle.btn.btn-mini(class=locals.staffmode ? 'btn-warning' : '') staff
            a(href="/u/#{locals.authuser}")= locals.authuser
    div.container-fluid
      div.row-fluid
        block content
      hr
      footer
        p.pull-right: small MIT EECS
        - function a(arr) { return arr[Math.floor(Math.random() * arr.length)]; }
        p.muted
          small #{a(config.footer.who)} in the #{a(config.footer.where)} with the #{a(config.footer.what)}?
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js')
    script(src='/static/main.js')
