extends layout

append head
  title Milestone #{kind}/#{proj} #{name} - Didit

block content
  div.span12
    div.page-header
      h1 Milestone&nbsp;
        a(href="/#{kind}/#{proj}"): tt #{kind}/#{proj}
        |  #{name}&nbsp;
        small: a(href="/milestone/#{kind}/#{proj}/#{name}.csv") .csv
      p
        button.btn.btn-baseline(href='#grade-from-sweep', data-toggle='modal') assign grades
    
    form#grade-from-sweep.modal.hide(action="/grade/#{kind}/#{proj}/#{name}/sweep", method='post')
      div.modal-header
        a.close(data-dismiss='modal') &times;
        h3 Choose students and sweep
      div.modal-body
        label(for='grade-from-sweep-usernames') List usernames:
        textarea#grade-from-sweep-usernames.span8.teletype(rows=10, name='usernames')
        label(for='grade-from-sweep-sweep') Select sweep:
        select#grade-from-sweep-sweep.span8(name='datetime')
          option(disabled,selected)
          each sweep in sweeps
            option(value=sweep.when.format(moment.compactFormat)).
              #{sweep.kind}/#{sweep.proj} #{sweep.when.format('llll')}
      div.modal-footer
        a.btn(href='#', data-dismiss='modal') Cancel
        button.btn.btn-info Assign grades for #{kind}/#{proj} #{name}
    
    include grades
    mixin grades(milestone.reporevs)
