extends layout

append head
  title #{kind}/#{proj} - Didit

block content
  div.span3
    include sidebar
  div.span9
    div.page-header
      h1
        tt #{kind}/#{proj}
    
    if authstaff
      
      form#confirm-sweep.modal.hide.form-horizontal(action="/sweep/#{kind}/#{proj}", method='post')
        div.modal-header
          a.close(data-dismiss='modal') &times;
          h3 Confirm sweep
        div.modal-body
          div.control-group
            label.control-label(for='sweep-date') Record revisions as of:
            div.controls
              input#sweep-date.input-medium(type='date', name='date', value="#{moment().format('YYYY-MM-DD')}")
              | &nbsp;
              input#sweep-time.input-medium(type='time', name='time', value="#{moment().format('HH:mm')}")
        div.modal-footer
          a.btn(href='#', data-dismiss='modal') Cancel
          button.btn.btn-info Sweep #{kind}/#{proj}
      
      form#create-milestone.modal.hide.form-horizontal(action="/milestone/#{kind}/#{proj}", method='post')
        div.modal-header
          a.close(data-dismiss='modal') &times;
          h3 Create milestone
        div.modal-body
          div.control-group
            label.control-label(for='milestone-name') Name:
            div.controls
              input#milestone-name(type='text', name='name', placeholder='e.g. "beta", "final"', pattern='\\w+')
        div.modal-footer
          a.btn(href='#', data-dismiss='modal') Cancel
          button.btn.btn-info Create #{kind}/#{proj} milestone
      
      div.span6.pull-right
        div.well
          h3= sweeps.length + schedSweeps.length > 0 ? 'Sweeps' : 'No sweeps'
          each sweep in sweeps
            h4
              a(href="/sweep/#{sweep.kind}/#{sweep.proj}/#{sweep.when.format(moment.compactFormat)}").
                #{sweep.when.format('llll')}
          each sweep in schedSweeps
            h4.muted #{sweep.when.format('llll')}&nbsp;
              span.badge #{sweep.when.fromNow()}
          a.btn.btn-small.btn-info(href='#confirm-sweep', data-toggle='modal') New sweep
        div.well
          h3= milestones.length > 0 ? 'Milestones' : 'No milestones'
          each milestone in milestones
            h4
              a(href="/milestone/#{kind}/#{proj}/#{milestone.name}") #{milestone.name}
          a.btn.btn-small.btn-info(href='#create-milestone', data-toggle='modal') New milestone
    
    h2= repos.length > 0 ? 'Repositories' : 'No repositories'
    each repo in repos
      h3: a(href="/#{repo.kind}/#{repo.proj}/#{repo.users.join('-')}")= repo.users.join('-')
