extends layout

append head
  title #{kind}/#{proj} - Didit

block content
  div.span3
    include sidebar
  div.span9
    div.page-header
      h1
        tt #{kind}/#{proj}
    
    if authstaff
      form#confirm-sweep.modal.hide.form-horizontal(action="/sweep/#{kind}/#{proj}", method='post')
        div.modal-header
          a.close(data-dismiss='modal') &times;
          h3 Confirm sweep
        div.modal-body
          div.control-group
            label.control-label(for='sweep-date') Record revisions as of:
            div.controls
              input#sweep-date.input-small(type='date', name='date', value="#{moment().format('YYYY-MM-DD')}")
              | &nbsp;
              input#sweep-time.input-small(type='time', name='time', value="#{moment().format('HH:mm')}")
        div.modal-footer
          a.btn(href='#', data-dismiss='modal') Cancel
          button.btn.btn-info Sweep #{kind}/#{proj}
      div.span5.pull-right
        div.well
          h3= sweeps.length > 0 ? 'Sweeps' : 'No sweeps'
          each sweep in sweeps
            h4
              a(href="/sweep/#{sweep.kind}/#{sweep.proj}/#{sweep.when.format(moment.compactFormat)}").
                #{sweep.when.format('llll')}
          a.btn.btn-small.btn-info(href='#confirm-sweep', data-toggle='modal') New sweep
    h2= repos.length > 0 ? 'Repositories' : 'No repositories'
    each repo in repos
      h3: a(href="/#{repo.kind}/#{repo.proj}/#{repo.users.join('-')}")= repo.users.join('-')
