extends layout

append head
  title #{kind}/#{proj} - Didit

block content
  div.span3
    include sidebar
  div.span9
    div.page-header
      h1
        tt #{kind}/#{proj}

    form#copy-repo.modal.hide.form-horizontal(action = "/starting/#{kind}/#{proj}/#{permittedRepoName}", method='post', tabindex='-1')
      div.modal-header
        a.close(data-dismiss='modal') &times;
        h3 Copy starting repo
      div.modal-body
        p A new git repository will be created based on the starting code.
      div.modal-footer
        a.btn(href='#', data-dismiss='modal') Cancel
        button.btn.btn-info Create repo #{kind}/#{proj} for #{permittedRepoName}
    
    if authstaff
      
      form#confirm-sweep.modal.hide.form-horizontal(action="/sweep/#{kind}/#{proj}", method='post', tabindex='-1')
        div.modal-header
          a.close(data-dismiss='modal') &times;
          h3 Confirm sweep
        div.modal-body
          p Record repository revisions and ensure that they have up-to-date builds.
          div.control-group
            label.control-label(for='sweep-date') Record revisions as of:
            div.controls
              input#sweep-date.input-medium(type='date', name='date', value="#{moment().format('YYYY-MM-DD')}")
              | &nbsp;
              input#sweep-time.input-medium(type='time', name='time', value="#{moment().format('HH:mm')}")
        div.modal-footer
          a.btn(href='#', data-dismiss='modal') Cancel
          button.btn.btn-info Sweep #{kind}/#{proj}
      
      form#confirm-catchup.modal.hide.form-horizontal(action="/catchup/#{kind}/#{proj}", method='post', tabindex='-1')
        div.modal-header
          a.close(data-dismiss='modal') &times;
          h3 Confirm catch-up
        div.modal-body
          p Schedule builds for all project repositories, but do not record a sweep.
          div.control-group
            label.control-label(for='catchup-hours') Build over the next:
            div.controls
              div.input-append
                input#catchup-hours.input-mini(type='number', name='hours', value='24', min='1', max='240')
                span.add-on hours
        div.modal-footer
          a.btn(href='#', data-dismiss='modal') Cancel
          button.btn.btn-info Catch-up #{kind}/#{proj}
      
      form#create-milestone.modal.hide.form-horizontal(action="/milestone/#{kind}/#{proj}", method='post', tabindex='-1')
        div.modal-header
          a.close(data-dismiss='modal') &times;
          h3 Create milestone
        div.modal-body
          p Create a grading milestone.
          div.control-group
            label.control-label(for='milestone-name') Name:
            div.controls
              input#milestone-name(type='text', name='name', placeholder='e.g. "beta", "final"', pattern='\\w+')
        div.modal-footer
          a.btn(href='#', data-dismiss='modal') Cancel
          button.btn.btn-info Create #{kind}/#{proj} milestone

      form#create-starting.modal.hide.form-horizontal(action="/starting/#{kind}/#{proj}", method='post', tabindex='-1')
        div.modal-header
          a.close(data-dismiss='modal') &times;
          h3 Create starting repo
        div.modal-body
          p Create a starting repo based on the current staff repo.
        div.modal-footer
          a.btn(href='#', data-dismiss='modal') Cancel
          button.btn.btn-info Create #{kind}/#{proj} starting repo

      form#edit-permissions.modal.hide.form-horizontal(action="/permissions/#{kind}/#{proj}", method='post', tabindex='-1')
        div.modal-header
          a.close(data-dismiss='modal') &times;
          h3 Add student permissions
        div.modal-body
          label(for='existing-permissions-list') Students already allowed to create repos:
          ul.inline#existing-permissions-list
            each student in permissions
              li= student
          label(for='new-permissions-list') List usernames to add:
          textarea#new-permissions-list.span8.teletype(rows=10, name='usernames')
        div.modal-footer
          a.btn(href='#', data-dismiss='modal') Cancel
          button.btn.btn-info Add listed permissions
      
      div.span6.pull-right
        div.well
          h3= startingExists ? 'Assignment' : 'Assignment unavailable'
          if startingExists
            h4.muted Starting repo exists
            a.btn.btn-small.btn-info(href='#edit-permissions', data-toggle='modal') Edit student permissions
          else
            a.btn.btn-small.btn-info(href='#create-starting', data-toggle='modal') Create starting repo
        div.well
          h3= sweeps.length + schedSweeps.length > 0 ? 'Sweeps' : 'No sweeps'
          each sweep in sweeps
            h4
              a(href="/sweep/#{sweep.kind}/#{sweep.proj}/#{sweep.when.format(moment.compactFormat)}").
                #{sweep.when.format('llll')}
          each sweep in schedSweeps
            h4.muted #{sweep.when.format('llll')}&nbsp;
              span.badge #{sweep.when.fromNow()}
          a.btn.btn-small.btn-info(href='#confirm-sweep', data-toggle='modal') New sweep
          a.btn.btn-small.pull-right(href='#confirm-catchup', data-toggle='modal') Catch-up
        div.well
          h3= milestones.length > 0 ? 'Milestones' : 'No milestones'
          each milestone in milestones
            h4
              a(href="/milestone/#{kind}/#{proj}/#{milestone.name}") #{milestone.name}
          a.btn.btn-small.btn-info(href='#create-milestone', data-toggle='modal') New milestone
    
    if startingExists && repos.length == 0
      div.span6.pull-right
        div.well
          h3 Copy starting repo
          if permittedRepoName || authstaff
            a.btn.btn-info(href='#copy-repo', data-toggle='modal') Copy starting repo
          else
            h4.muted You do not have permission to copy this repo

    h2= repos.length > 0 ? 'Repositories' : 'No repositories'
    each repo in repos
      div.inline-header
        h3
          a(href="/#{repo.kind}/#{repo.proj}/#{repo.users.join('-')}")= repo.users.join('-')
          | &nbsp;
        span.muted= (repo.fullnames || []).filter(function(n) { return n; }).join(', ')
