div.well.well-small.sidebar-nav
  ul.nav.nav-list
    if locals.proj && locals.users
      if locals.rev
        li.nav-header Repository
        li: a(href="/#{kind}/#{proj}/#{users.join('-')}") #{kind}/#{proj} #{users.join('-')}
        li.divider
      li.nav-header Project
      li: a(href="/#{kind}/#{proj}") #{kind}/#{proj}
      li.divider
      li.nav-header User#{users.length == 1 ? '' : 's'}
      each user in users
        li: a(href='/u/' + user)= user
      li.divider
    li.nav-header System Status
      if ! stats.interval
        li.muted waiting for statistics...
      else
        li.muted
          span.badge(class="badge-#{stats.open > stats.completed ? 'warning' : 'info'}").
            #{stats.open}
          |  build#{stats.open == 1 ? '' : 's'} pending
        li.muted
          span.badge(class="badge invisible") #{stats.open}
          | &nbsp;
          small #{stats.decisions} routing &nbsp; #{stats.activities} queued
        li.muted
          span.badge #{stats.completed}
          |  completed
        li.muted
          span.badge(class="badge-#{stats.failed > 0 ? 'important' : 'default' }") #{stats.failed}
          |  failed
        li.muted
          span.badge(class="badge invisible") #{stats.failed}
          | &nbsp;
          small in #{moment.duration(stats.interval.latestDate - stats.interval.oldestDate, 'seconds').humanize()}
        li.muted: small.
          updated #{moment.unix(stats.interval.latestDate).calendar()}
