extends layout

append head
  title Sweep #{kind}/#{proj} #{datetime.format('llll')} - Didit

block content
  div.span12
    div.page-header
      h1 Sweep&nbsp;
        a(href="/#{kind}/#{proj}"): tt #{kind}/#{proj}
        |  #{datetime.calendar()}&nbsp;
        small: a(href="/sweep/#{kind}/#{proj}/#{datetime.format(moment.compactFormat)}.csv") .csv
      if sweep.finished
        p: button.btn.btn-baseline(href='#rebuild', data-toggle='modal') rebuild
      else
        p Started #{moment(sweep.started).fromNow()}...
    
    form#rebuild.modal.hide(action="/sweep/#{kind}/#{proj}/#{datetime.format(moment.compactFormat)}/rebuild", method='post')
      div.modal-header
        a.close(data-dismiss='modal') &times;
        h3 Confirm rebuild
      div.modal-footer
        a.btn(href='#', data-dismiss='modal') Cancel
        button.btn.btn-info Rebuild sweep with current builder
    
    include grades
    mixin grades(sweep.reporevs)
