extends layout-sidebar

append head
  title #{users.join('-')} - Didit

block primary
  div.page-header
    h1: tt= users.join('-')
    p.muted= fullnames.filter(function(n) { return n; }).join(', ')
  h2= repos.length > 0 ? 'Repositories' : 'No repositories'
  each repo in repos
    h3: a(href=`/${repo.kind}/${repo.proj}/${repo.users.join('-')}`).
      #{repo.kind}/#{repo.proj} #{repo.users.join('-')}
